<h1>Listing jobs</h1>

<table>
    <th>Jobid</th>
    <th>Type</th>
    <th>Jobdesc</th>
    <th>Exp year</th>
    <th>Exp mon</th>
    <th>Salary</th>
    <th>Vacency</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.JobId %></td>
    <td><%= job.type %></td>
    <td><%= job.JobDesc %></td>
    <td><%= job.exp_year %></td>
    <td><%= job.exp_mon %></td>
    <td><%= job.salary %></td>
    <td><%= job.Vacency %></td>
    <td><%= job.Location %></td>
    
  </tr>
<% end %>
</table>

<br />