<p id="notice"><%= notice %></p>
<p>
<b> Welcome  </b>
<%= @user.first_name %>
</p>
<%= link_to 'Search Jobs', "/empshow" %>
<%= link_to 'applied Jobs', "/appliedjobs" %>
<%= link_to 'logout', "logout" %>