<h1>Register</h1>
<div>
	<% if flash[:status] == TRUE %>
		<p><%= flash[:alert] %> </p>
	<% elsif flash[:status] == FALSE %>
	   <% flash[:alert].each do |error| %>
	   		<p><%= error %></p>
		<% end %>
	<% end %>
</div>
		

<%= form_for @user do |user| %>
<div>
	<%= user.label(:first_name, "first_name") %>
	<%= user.text_field :first_name %>
</div>
<div>
	<%= user.label(:last_name, "last_name") %>
	<%= user.text_field :last_name %>
</div>
<div>
	<%= user.label(:password, "password") %>
	<%= user.text_field :password %>
</div>

<div>
	<%= user.label(:email, "email") %>
	<%= user.text_field :email %>
</div>
<div>
	<%= user.label(:email, "Member type") %>

	<%= user.select(:user_type,["Employer","Employee"]) %>
</div>
<div>
	<%= submit_tag "Register" %>
</div>

<% end %>


