<%= form_for(@empr_job) do |f| %>
  <% if @empr_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empr_job.errors.count, "error") %> prohibited this empr_job from being saved:</h2>

      <ul>
      <% @empr_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :EmprID %><br />
    <%= f.text_field :EmprID %>
  </div>
  <div class="field">
    <%= f.label :JobID %><br />
    <%= f.text_field :JobID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
