<h1>Listing empr_jobs</h1>

<table>
  <tr>
    <th>Emprid</th>
    <th>Jobid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @empr_jobs.each do |empr_job| %>
  <tr>
    <td><%= empr_job.EmprID %></td>
    <td><%= empr_job.JobID %></td>
    <td><%= link_to 'Show', empr_job %></td>
    <td><%= link_to 'Edit', edit_empr_job_path(empr_job) %></td>
    <td><%= link_to 'Destroy', empr_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Empr job', new_empr_job_path %>
